<html>
    <body>
        <h1><%= name %></h1>

        <% if (locals.files) {%>
        
            <ul>
        
                <% files.forEach((file)=> { %>
                    <li>
                        <% if (!file.isFile) { %>
                            <% if (path) { %>
                                <button onclick="location.href='/folder/path/<%= path %>/<%= file.name %>';">
                                    <%= file.name %>
                                </button>
                            <% } else { %>
                                <button onclick="location.href='/folder/<%= file.name %>';">
                                    <%= file.name %>
                                </button>
                            <% } %>
                        <% } else { %>
                            <button>
                                <%= file.name %>
                            </button>
                        <% } %>

                        <% if (path) { %>
                            <button onclick="location.href='/folder/delete/<%= path %>/<%= file.name %>';">Delete</button>
                            <button>Rename</button>
                        <% } else { %>
                            <button onclick="location.href='/folder/delete/<%= file.name %>';">Delete</button>
                            <button>Rename</button>
                        <% } %>
                        
                    </li>
                <% }); %>
        
            </ul>

        <% } %>

        <button onclick="location.href='/upload-file/<%= path %>';">Upload File</button>
        
        <button onclick="location.href='/folder/create/<%= path %>';">Add Folder</button>
        
        <button onclick="location.href='/log-in/log-out';">Log Out</button>

    </body>
</html>